body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: zephyr;
    /* not understanding how to change the font via the @font-face */
    /* method, specifically the URL  */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
}

button {
    margin: 15px;
    font-size: 20px;
    background-color: rgba(255, 4, 4, 0.9);
    border: 1px solid rgba(255, 4, 4, 0.9);
    width: 150px;
    height: 150px;
    border-radius: 25%;
}

button:hover {
    background-color: rgba(138, 0, 0, 0.9);
    border: 1px solid rgba(138, 0, 0, 0.9);
    cursor: pointer;
}